body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh; }
  body .texto {
    font-family: 'Raleway', sans-serif;
    color: black; }
  body header {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    body header h1 {
      font-family: 'Raleway', sans-serif;
      color: black;
      text-align: center;
      margin: auto; }
    body header li a {
      font-family: 'Raleway', sans-serif;
      text-decoration: none;
      margin: auto; }
  body #carouselExampleControls .carousel-item {
    height: 20rem;
    position: relative;
    background-position: center;
    background-size: cover; }
    body #carouselExampleControls .carousel-item .headlines_carousel {
      position: absolute;
      bottom: 40%;
      right: 40%;
      color: white;
      opacity: 40%; }
